body, html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 253, 253, 0.75)), url('src/img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

label {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  transform: translate(0%, -30%);
}

input, select {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #040404;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.5s ease, color 0.5s ease, border-radius 0.5s ease; /* Add transition property */
  
}
button:hover {
  background-color: black; /* Add your desired hover color */
  color: white;
  border-radius: 15px;
}

.Allowance{
  transform: translate(80%,50%);
}
.logo {
  width: 100px; 
  height: auto; 
  cursor: pointer;
  position: absolute;
  left: 30px; 
  top: 30px; 
}

label[for="value"] {
  color: rgb(0, 0, 0);
  font-size: 19px;
  font-weight: bold;
}


.content {
  display: none;
  height: 100vh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.active {
  display: block;
  opacity: 1;
}
allowance-dropdown {
  padding: 8px;
  font-size: 16px;
}

/* Style for the Weekly option */
.weekly {
  color: blue;
  font-weight: bold;
}

/* Style for the Daily option */
.daily {
  color: green;
  font-weight: bold;
}

/* Style for the Monthly option */
.monthly {
  color: purple;
  font-weight: bold;
}



#myForm{
  width: 350px;
  margin: 10px;
  padding: 120px;
  background-color: white;
  border: 5px solid #333;
  border-radius: 5px;
  float: right;
  height: 60px;
  margin-right: 50px;
  align-items: center;
}


.common-label {
  display: block;
  margin-bottom:10px;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  transform: translateY(-130%);
  align-items: center;
}

#myForm .custom-select {
  width: 100%; 
  padding: 10px;
  font-size: 16px;
  border: 3px solid #000000;
  border-radius: 5px;
  color: #333;
  transform: translateY(-30%);
}

#myForm .custom-select option {
  background-color: #fff; 
  color: #333; 
  font-size: 16px;
  padding: 1px; 
  border-bottom: 100px solid #ccc; 
}

#myForm .custom-select option:checked {
  background-color: #f0f0f0; 
  color: #000; 
  font-weight: bold; 
}
button {
  padding: 10px 20px;
  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  width: 150px;
  margin: 50px;
}
.go-back-button {
  background-color: #5c5c5c; /* Red */
  transform: translate(-70%,700%);
}
.go-back-button:hover {
  background-color: #ff0000; /* Red */
  
}
.submit-button {
  background-color: #5c5c5c; /* Teal */
  transform: translate(70%,700%);
}
.submit-button:hover {
  background-color: #358d4f; /* Red */
  
}




#Amount {
 
  margin: 10px;
  padding: 100px;
  background-color: white;
  border: 5px solid #333;
  border-radius: 5px;
  align-items: center;
  margin-right: 400px;
  height: 101px;
  margin-bottom: 14px;
}



#Amount-label {
  display: block;
  margin-bottom: 20px; 
  font-size: 30px;
  color: #000000;
  font-weight: lighter;
}
.Allowance{
  text-align: right; 
  color: #fff; 
  font-size:50px; 
  margin-bottom:650px; 
  letter-spacing: 10px; 
  margin-top:60px;
  
}
