:root {
  --dark-text: #ffffff;
  --light-body: #f3f8fe;
  --light-main: #fdfdfd;
  --light-second: #ffffff;
  --light-hover: #f0f0f0;
  --light-text: #151426;
  --light-btn: #000000;
  --blue: #0000ff;
  --white: #fff;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-family: consolas;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.perso-h2 {
  font-size: 14px; /* Set the font size */
  color: #ffffff; /* Set the text color */
  font-weight: bold; /* Set the font weight to bold */
  /* Add more styling properties as needed */
  padding: 20px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  transform: translateY(-18%);
}
.transpo-h2 {
  font-size: 14px; /* Set the font size */
  color: #ffffff; /* Set the text color */
  font-weight: bold; /* Set the font weight to bold */
  /* Add more styling properties as needed */
  padding: 20px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  margin-bottom: 23px;
  margin-top: 10px;
}
.expenses-h2 {
  font-size: 14px; /* Set the font size */
  color: #ffffff; /* Set the text color */
  font-weight: bold; /* Set the font weight to bold */
  /* Add more styling properties as needed */
  padding: 20px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  margin-bottom: 23px;
  margin-top: 10px;
}
.other-h2 {
  font-size: 14px; /* Set the font size */
  color: #ffffff; /* Set the text color */
  font-weight: bold; /* Set the font weight to bold */
  /* Add more styling properties as needed */
  padding: 20px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  margin-bottom: 23px;
  margin-top: 10px;
}
html,
body {
  font-family: var(--font-family);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('src/img/background.jpg');
  overflow: hidden;
}
.styled-button {
  font-family: Arial;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  /* Add more styles as needed */
}
.thumbs-up,
.thumbs-down {
font-size: 20px;
margin-top: 10px;
border-radius: 5px;
  /* Add more styles as needed */
}
.container {
  width: max-content;
  height: max-content;
  position: relative;
  display: flex;
  padding: 2% 0px 0px 0px;
  justify-content: flex-start;
  top: 10%;
  right: 0%;
  width: 100%;
  height: 100%;
  align-items: flex-start; /* Align items to the start (top) of the container */
  margin-top: 20px; /* Add some margin at the top */
}
.calendar {
  height: 657px;
  width: max-content;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  padding: 30px 50px 0px 50px;
  box-shadow: var(--shadow);
  right: 0;
  margin-left: 30px;
  margin-top: 7px;
  
}
.calendar {
  box-shadow: var(--shadow);
}
.calendar-header {
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: var(--white);
  padding: 10px;

}
.month-list > div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;


}
.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  cursor: pointer;
  color:rgb(104, 104, 104);

}

.calendar-week-days div:hover {
color:black;
transform: scale(1.2);
transition: all 0.2s ease-in-out;
}
.calendar-week-days div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
  height: 50px;
  
}
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: #000;

}
.calendar-days div {
  width: 37px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  border: 1px solid #000;
}
.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  
}
.month-picker:hover {
  background-color: var(--color-hover);
}
.month-picker:hover {
  color: var(--color-txt);
}
.year-picker {
  display: flex;
  align-items: center;
}
.year-change {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0px 10px;
  cursor: pointer;
}
.year-change:hover {
  background-color: var(--light-btn);
  transition:all .2s ease-in-out ;
  transform: scale(1.12);
}
.year-change:hover pre {
  color: var(--bg-body);
}
.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#year:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.2 ease-in-out;
}
.calendar-days div span {
  position: absolute;
}
 .calendar-days div:hover {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  background-color: #000000;
  border-radius: 20%;
  color: var(--dark-text);
}
.calendar-days div.current-date {
  color: var(--dark-text);
  background-color: var(--light-btn);
  border-radius: 20%;
}
.current-date {
  background-color: #000000; 
  color: #ffffff; 
  font-weight: bold; 
}

.month-list {
  position: relative;
  left: 0;
  top: -50px;
  background-color: #ebebeb;
  color: var(--light-text);
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  border-radius: 20px;
}
.month-list > div {
  display: grid;
  place-content: center;
  margin: 5px 10px;
  transition: all 0.2s ease-in-out;
}
.month-list > div > div {
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
}
.month-list > div > div:hover {
  background-color:var(--light-btn);
  color: var(--dark-text);
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}
.month-list.show {
  visibility: visible;
  pointer-events: visible;
  transition: 0.6s ease-in-out;
  animation: to-left .71s forwards;
}
.month-list.hideonce{
  visibility: hidden;
}
.month-list.hide {
  animation: to-right 1s forwards;
  visibility: none;
  pointer-events: none;
}
.date-time-formate {
  width: max-content;
  height: max-content;
  font-family: Dubai Light, Century Gothic;
  position: relative;
  display: inline;
  top: 140px;
  justify-content: center;
}
.day-text-formate {
  font-family: Microsoft JhengHei UI;
  font-size: 1.4rem;
  padding-right: 5%;
  border-right: 3px solid #000000;
  position: absolute;
  left: -1rem;
}
.date-time-value {
  display: block;
  height: max-content;
  width: max-content;
  position: relative;
  left: 40%;
  top: -18px;
  text-align: center;
}

.expense-inputs {
  margin-top: -450px;
  padding: 5px;
  background-color: #f7f7f7; /* Optional: Add background color */
  border-radius: 0px; /* Optional: Add border radius for a rounded appearance */
  width: 450px; /* Adjust the width of the background */
  /*margin-left: auto; /* Center the element horizontally */
  /*margin-right: auto; /* Center the element horizontally */
  height: auto;
  display: flex;
  flex-direction: column; /* Align inputs vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  /*height: 30vh; /* Adjust the height as needed */
}

.expense-inputs {
  align-items: left;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Add your preferred background color */
  box-shadow: 0 0px 8px rgba(0, 0, 0, 10);
  padding: 40px 80px; /* Adjust the values as needed */
  border-radius: 15px; 
  width: auto;
}

/*Summary of Expenses*/
.expenses-summary {
  margin-top: 5px;
  padding: 15px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  top: 4rem;
  right: 2rem;
}

.expenses-summary p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.expenses-summary span {
  font-weight: bold;
  color: #007bff; /* Change the color as needed */
}



.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 10px; /* Add some margin between cards */
  transform: translate(-193%, 100%);
}




.card button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.graphs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.chart {
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  margin: 10px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  animation: fade-in 1s ease-in-out;
}
@keyframes fade-in {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.card button, .thumbs-down {
  background-color: #dc3545;
}
.time-formate {
  font-size: 1.5rem;
}
.time-formate.hideTime {
  animation: hidetime 1.5s forwards;
}
.day-text-formate.hidetime {
  animation: hidetime 1.5s forwards;
}
.date-formate.hideTime {
  animation: hidetime 1.5s forwards;
}
.day-text-formate.showtime{
  animation: showtime 1s forwards;
}
.time-formate.showtime {
  animation: showtime 1s forwards;
}
.date-formate.showtime {
  animation: showtime 1s forwards;
}
@keyframes to-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}
@keyframes to-left {
  0% {
    transform: translatex(230%);
    opacity: 1;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}
@keyframes to-right {
  10% {
    transform: translatex(0);
    opacity: 1;
  }
  100% {
    transform: translatex(-150%);
    opacity: 1;
  }
}
@keyframes showtime {
  0% {
    transform: translatex(250%);
    opacity: 1;
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
@keyframes hidetime {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-370%);
    opacity: 1;
  }
}
@media (max-width:375px) {
  .month-list>div{

    margin: 5px 0px;
  }
}

#goBackFunction{
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    width: auto;
    padding: 10px 20px;
    border: #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, border-radius 0.5s ease;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
    position: relative;
    right: 9rem;
}

#goBackFunction:hover{
    background-color: #45a049;
    border-radius: 10px;
    transform: scale(1.05);
}

#redirectToAnotherPage{
  font-size: 16px;
  color: #fff;
  background-color: #4CAF50;
  width: auto;
  padding: 10px 20px;
  border: #333;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, border-radius 0.5s ease;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
  position: relative;
  left: 9rem;
}

#redirectToAnotherPage:hover{
  background-color: #45a049;
  border-radius: 10px;
  transform: scale(1.05);
}