body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('src/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.logo {
    width: 100px; 
    height: auto; 
    cursor: pointer;
    position: absolute;
    left: 30px; 
    top: 30px; 
    
}
label {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        color: #000000;
        text-transform: uppercase;
        position: relative;
        transition: background-color 0.5s ease, color 0.5s ease, border-radius 0.5s ease; /* Add transition property */
  }
  button:hover{
    background-color: #312f2f; /* Darker green on hover */
    color: white;
    border-radius: 15px;
  }
  
  

  
