body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('src/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex-start;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-size: 18px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    position: relative;
}

input,
select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        color: #000000;
        text-transform: uppercase;
        position: relative;
  }
  button::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
button:hover::after {
  width: 100%;
}

logo {
            width: 10px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
            position: absolute;
            top: 20px; /* Adjust the top position as needed */
            left: 20px; /* Adjust the left position as needed */
        }
  
