* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('src/img/background.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0; /* Add this line to remove default body margin */
}
#selected-option {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    display: none;
}


#goal-form {
    background-color: white;
    max-width: 500px;
    height: 600px;
    margin: 60px 50px; /* Adjust the left and right margins as needed */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.995);
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Adjust the value as needed */
}

#goal-form label,
#goal-form input,
#goal-form select,
#goal-form button,
#goal-form div {
    margin-bottom: 10px; /* Adjust the value as needed */
}
#goal-form-container {
    margin-bottom: 30px; /* Adjust the value as needed */
}

label {
    display: block;
    margin-bottom: 8px;
    
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 30px;
}

button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    position: relative;
    transform: translate(5%, 50%);
    transition: background-color 0.5s ease, color 0.5s ease, border-radius 0.5s ease; /* Add transition property */
}
button:hover {
    background-color: black; /* Add your desired hover color */
    color: white;
    border-radius: 15px;
}

/* Style for the "Submit" button */
#submitGoalButton {
    color: rgb(0, 0, 0);
    transform: translate(150%, -50%);
}


/* Style for the "Back" button */
#backButton {
    color: rgb(0, 0, 0);
    transform: translate(-170%, -146%);
}


/* Hover effect for "Submit" button */
#submitGoalButton:hover {
    background-color: #312f2f; /* Darker green on hover */
    color: white;
    border-radius: 15px
}

/* Hover effect for "Back" button */
#backButton:hover {
    background-color: #312f2f; /* Darker red on hover */
    color: white;
    border-radius: 15px
}

result {
    color:  white;
}
    margin: 60px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.995);
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
    
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 30px;
}

button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    position: relative;
    transform: translate(5%, 50%);
    transition: background-color 0.5s ease, color 0.5s ease, border-radius 0.5s ease; /* Add transition property */
}
button:hover {
    background-color: black; /* Add your desired hover color */
    color: white;
    border-radius: 15px;
}

/* Style for the "Submit" button */
#submitGoalButton {
    color: rgb(0, 0, 0);
    transform: translate(150%, -50%);
}


/* Style for the "Back" button */
#backButton {
    color: rgb(0, 0, 0);
    transform: translate(-170%, -146%);
}


/* Hover effect for "Submit" button */
#submitGoalButton:hover {
    background-color: #312f2f; /* Darker green on hover */
    color: white;
    border-radius: 15px
}

/* Hover effect for "Back" button */
#backButton:hover {
    background-color: #312f2f; /* Darker red on hover */
    color: white;
    border-radius: 15px
}

result {
    color:  white;
}
#chart-container {
    flex-grow: 1; /* Take the remaining space */
    margin-left: 20px; /* Adjust the margin as needed */
}

#barChart {
      width: 100%; /* Make the chart fill its container */
      height: auto;
      max-width: 400px; /* Set a maximum width to control the size */
      display: block; /* Ensure it's a block-level element */
      margin-left: 50px;
      margin-top: 5px;
}

#chart-container {
    display: flex;
    justify-content: center; /* Move the chart to the right side */
    align-items: flex-end;
    height: 100%; /* Adjust the height as needed */
    margin-top: -510px;
    margin-left: 450px;
}
