* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('src/img/background.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

#goal-form{
    background-color: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.995);
    color: black;
    text-align: center; /* Center text horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.logo {
  width: 100px; 
  height: auto; 
  cursor: pointer;
  position: absolute;
  left: 30px; 
  top: 30px; 
  
}
button {
    background: none;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        color: black;
        text-transform: uppercase;
        position: relative;
        transform: translateX(130%);

    /* Style for the "Submit" button */
    #submitGoalButton {
        background-color: #4CAF50; /* Green */
        color: white;
    }
    
    /* Style for the "Back" button */
    #backButton {
        background-color: #f44336; /* Red */
        color: white;
    }
    
  button::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
      
    }
    button:hover::after {
      width: 100%;
    }
    
    /* Hover effect for "Submit" button */
    #submitGoalButton:hover {
        background-color: #45a049; /* Darker green on hover */
    }
    
    /* Hover effect for "Back" button */
    #backButton:hover {
        background-color: #d32f2f; /* Darker red on hover */
    }
