* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('src/img/background.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0; /* Add this line to remove default body margin */
}
#selected-option {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    display: none;
}
h2{
    color: white;
}


#goal-form {
    background-color: transparent;
    max-width: 500px;
    height: 500px;
    margin: 60px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.995);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 850px;
    margin-top: 150px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: white;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.logo {
    width: auto;
    height: 100px;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 30px;
}



/* Style for the "Submit" button */


result {
    color:  white;
    margin: 60px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.995);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 8px;
    color: white;
    
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 30px;
}

button {
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    animation: fadeInUp 0.5s ease-out;
    text-transform: uppercase;
    position: relative;
    transform: translate(-2%, 350%);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease, border-radius 0.5s ease; /* Combine transition properties */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
    color: white;
    transform: translate(-2%, 350%) scale(1.07);
}



/* Style for the "Submit" button */
#submitGoalButton {
    color: rgb(0, 0, 0);
    transform: translate(150%, 145%);
    border-radius: 15px;
    animation: fadeInUp 0.5s ease-out;
    transition: transform 0.5s ease;
}

#submitGoalButton:hover {
    background-color: #45a049; /* Darker green on hover */
    color: white;
    transform: translate(150%, 145%) scale(1.07);
}

/* Shared styles for the button with class "set-goal-button" and id "submitGoalButton" */
.set-goal-button{
    color: rgb(0, 0, 0);
    transform: translate(-0%, 50%);
    transition: background-color 0.5s ease, color 0.5s ease, border-radius 0.5s ease;
    border-radius: 15px;
    animation: fadeInUp 0.5s ease-out;
    transition: transform 0.5s ease;
}

/* Specific hover effect for both buttons */
.set-goal-button:hover:hover {
    background-color: #45a049; /* Darker green on hover */
    color: white;
    transform: translate(-0%, 50%) scale(1.07);
    
}




/* Style for the "Back" button */
#backButton {
    color: rgb(0, 0, 0);
    transform: translate(-170%, 49%);
    border-radius: 15px;
    animation: fadeInUp 0.5s ease-out;
    transition: transform 0.5s ease;
}


/* Hover effect for "Submit" button */


/* Hover effect for "Back" button */
#backButton:hover {
    background-color: #45a049; /* Darker red on hover */
    color: white;
    transform: translate(-170%, 49%) scale(1.07);
    
}

result {
    color:  white;
}
#chart-container {
    flex-grow: 1; /* Take the remaining space */
    margin-left: 20px; /* Adjust the margin as needed */
}

#barChart {
    width: 100%; /* Make the chart fill its container */
    height: auto;
    margin-left: 820px; /* Add margin-top for vertical positioning */
   transform: translateY(-180%);
}
