        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: Arial, sans-serif;
            width: 100%;
            height: 100vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('src/img/background.jpg');
            background-size: cover;
            background-position: center;
            overflow: hidden;
        
        }
        
        #goal-form{
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.995);
            color: white;
            text-align: center; /* Center text horizontally */
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        label {
            display: block;
            margin-bottom: 8px;
        }
        
        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        
        button {
            background: none;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                color: #ffffff;
                text-transform: uppercase;
                position: relative;
                transform: translateX(130%);
        
          }
          button::after {
            content: '';
            height: 3px;
            width: 0;
            background: #009688;
            position: absolute;
            left: 0;
            bottom: -5px;
            transition: 0.5s;
        }
        button:hover::after {
          width: 100%;
        }
 #progress-bar-container {
            margin-top: 20px;
            position: relative;
            height: 20px;
            background-color: #333;
            border-radius: 10px;
            overflow: hidden;
        }

        .progress-bar-fill {
            height: 100%;
            background-color: #4CAF50;
            border-radius: 10px;
            transition: width 0.5s ease-in-out;
        }

        .progress-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-weight: bold;
        }

        canvas {
            margin-top: 20px;
            max-width: 100%;
            height: auto;
        }
