body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('src/background.jpg');
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em;
    margin: 0;
}

header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

header h1:hover{
    transform: scale(1.05);
}

#Logo{
    position: absolute;
    top: 17px;
    left: 40px;
    max-height: 110px;
    transition: transform 0.5s ease;
}

#Logo:hover{
    transform: scale(1.15);
}

#about {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    margin-bottom: 100px;
}

h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    position:static;
    bottom: 0;
    width: 100%;
}

#GetStarted{
text-align: center;
}

button {
    font-size: 25px;
    color: #fff;
    background-color: #4CAF50;
    width: auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, border-radius 0.5s ease;
    transition: transform 0.5s ease;
}

button:hover {
    background-color: #45a049;
    border-radius: 10px;
    transform: scale(1.05);
}

#ShortDescription{
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
    font-family: 'Verdana', sans-serif;
    color: #fff;
    transition: transform 0.5s ease;
}

#ShortDescription:hover{
    transform: scale(1.05);
}

#Features{
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
    font-family: 'Verdana', sans-serif;
    color: #fff;
    transition: transform 0.5s ease;
}

#Features:hover{
    transform: scale(1.05);
}

#HowItWorks{
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
    font-family: 'Verdana', sans-serif;
    color: #fff;
    transition: transform 0.5s ease;
}

#HowItWorks:hover{
    transform: scale(1.05);
}

#Join{
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 10);
    font-family: 'Verdana', sans-serif;
    color: #fff;
    transition: transform 0.5s ease;
}

#Join:hover{
    transform: scale(1.05);
}
