body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: #555;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.Logo {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Apply a circular border-radius to the logo */
    margin-right: 10px; /* Add space between logo and text */
    border: 2px solid #fff; /* Add a white border around the logo */
    transition: transform 0.3s ease; /* Add a subtle hover effect */
}

.Logo:hover {
    transform: scale(1.1); /* Increase size on hover */
}


#about {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

/* Add hover effect to list items */
li:hover {
    color: #1e90ff;
    cursor: pointer;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position:static;
    bottom: 0;
    width: 100%;
    length: 50%
}

button {
    font-size: 25px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, transparent 50%, rgb(0, 0, 0) 50%);
    background-size: 200% 100%;
    width: auto;
    height: auto;
    padding: 10px;
    transition: background-position 0.5s ease, color 0.5s ease, border-radius 0.5s ease, border-color 0.5s ease;
}

button:hover {
    background-position: -100% 0;
    border-radius: 10px;
    cursor: url(hand.cur), pointer;
    color: white;
    border-color: transparent;
}



