body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 99vw;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 99vw;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.calendar-title {
  font-size: 20px;
  font-weight: bold;
}

.calendar-navigation button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.calendar-navigation button:hover {
  background-color: #ddd;
}

.calendar-week-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.calendar-week-header span {
   width: calc(100% / 7); 
  text-align: center;
  border: 1px solid #ccc; 
}

.calendar-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 99vw;
  padding: 20px;
}

.calendar-month {
  margin-bottom: 10px;
}

.calendar-day-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px 10px;
}

.calendar-day-header span {
  width: 100%;
  text-align: center;
}

.calendar-days-content {
  display: grid;
  grid-template-columns: repeat(7, 210px);
  gap: 5px;
}

.calendar-days-content > div {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.today {
  background-color: lightblue;
}

.day-box {
  width: 100%;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
