*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("src/img/background.jpg");
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 1in;
    height: 1in;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.Budgeting{
    width: 50%;
    transform: translate(20%, -285%);
    position: fixed;
    text-align: center;
    color: #fff;
    margin-top: 5px;
    font-size: medium;
}
.footer {
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-10%,-50%);
  width: 100%;
  color: white;
}
.content{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    margin-top: 5px;
    font-size: x-large;

}
.pees{
    width: 100%;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    margin-top: 5px;
    font-size: larger;

}
